apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-argo-application
  namespace: argocd
  argocd-image-updater.argoproj.io/image-list: ghcr.io/sheril5/quality-trace:1.1.x
  argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/gitcreds
  argocd-image-updater.argoproj.io/git-branch: main

spec:
  project: default
  source:
    repoURL: 'https://github.com/Sheril5/quality-trace.git'
    targetRevision: HEAD
    path: charts/quality-trace
  destination:
    server: https://kubernetes.default.svc
    namespace: myapp
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
